.feedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto 20px auto;
}

.articleFeedContainer {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
