.followersContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.followerSpan {
  padding: 10px;
  font-weight: 500;
}

.followerLink {
  text-decoration: none;
  color: grey;
}

.followerCountContainer {
  display: flex;
  align-items: center;
}
