.followerPageSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto 0px auto;
}

.followerPageUl {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 30px;
}

.followerH2 {
  color: grey;
}
