.regForm, .loginForm {
    display: flex;
    flex-direction: column;
    margin: 50px auto 50px auto;
    padding: 20px;
    border-radius: 30px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9, 
                -20px -20px 60px #ffffff;
    max-width: 400px;
}

.regPara, .loginPara {
    text-align: center;
    font-weight: bold;
    color: dimgray;
}

.formLink {
    text-decoration: none;
    color: dimgray;
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: bold;
}

.formPara {
    text-align: center;
}

.formSpan {
    text-align: center;
}

.formSection {
    padding: 10px;
}