.regForm, .loginForm {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 30px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9, 
                -20px -20px 60px #ffffff;
}

.regPara, .loginPara {
    text-align: center;
    font-weight: bold;
    color: dimgray;
}

.formLink {
    text-decoration: none;
    color: dimgray;
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: bold;
}

.formPara {
    text-align: center;
}

.formSpan {
    text-align: center;
}

@media screen and (min-width: 480px) {
    .regForm, .loginForm {
        max-width: 70%;
    }
}

@media screen and (min-width: 720px) {
    .regForm, .loginForm {
        max-width: 60%;
    }
}

@media screen and (min-width: 920px) {
    .regForm, .loginForm {
        max-width: 50%;
    }
}

@media screen and (min-width: 1140px) {
    .regForm, .loginForm {
        max-width: 40%;
    }
}

@media screen and (min-width: 1440px) {
    .regForm, .loginForm {
        max-width: 30%;
    }
}