.landingImg {
  width: auto;
  max-height: 400px;
  margin-top: 50px;
}

.landingDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  margin: 0 auto;
}

.landingH3 {
  text-align: center;
  margin: 40px auto 40px auto;
}

@media screen and (min-width: 900px) {
  .landingImg {
    max-height: 600px;
    margin-top: 0px;
  }
}
