.profilePageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.userInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
}

.profileButtonContainer {
  margin: 20px auto 20px auto;
}

.profileArticles {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;

  /* box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff; */
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  border-radius: 10px;
  width: 90%;
  margin-top: 30px;
  padding: 10px;
}

.bioContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.profileBio {
  text-align: center;
  line-height: 1.4;
  max-width: 90%;
}

.profileUsername {
  padding-top: 20px;
  font-weight: 500;
  text-align: center;
  font-size: 20px;
}

.avatarMessageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatLink {
  color: black;
  margin-top: 10px;
}

.bioButtonsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .userInfoContainer {
    flex-direction: row;
    margin-bottom: 50px;
  }

  .profilePageContainer {
    margin-top: 100px;
  }

  .profileAvatar {
    margin-bottom: 0px;
  }
}
