.commentAvatar {
    max-height: 40px;
    width: auto;
}

.commentContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 15px auto 15px auto;
    
    border-radius: 20px;
    box-shadow: .5rem .6rem 1.8rem #888888;
    max-width: 95%;
}

.avatarCommentContainer {
    padding: 10px;
    margin-right: 45px;
    display: none;
}

.commentButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-left: 45px;
}

.buttonsAndContent {
    display: flex;
    align-items: center;
    padding: 10px;
}

.commentContent {
    text-align: center;
    max-width: 200px;
    overflow-y: auto;
    max-height: 100px;
    line-height: 1.4;
}

.commentUsername {
    padding: 10px;
    font-weight: 500;
}

.commentSpan {
    padding: 10px;
    font-weight: 500;
}

.contentAndPublish {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.commentPublishDate {
    padding: 10px;
    font-size: 14px;
    color: grey;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .avatarCommentContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .commentSpan {
        display: none;
    }

    .commentContent {
        max-width: 350px;
    }
}